/* styles.css */

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header,
footer {
    flex-shrink: 0;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: auto;
}

/* Header */
.logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-left: 10px;
}

/* Form Card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.card-header,
.card-body {
    padding: 10px;
}

/* Button */
.bg-custom {
    background-color: #0AA5DE;
    border-color: #0793c6;
    color: #ffffff;
}

/* Results */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.image-box {
    border: 2px solid #007bff;
    border-radius: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 10px;
    max-width: 90%;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title-container img {
    margin-top: 10px;
    max-width: 100%;
    max-height: 50vh;
    width: auto;
    height: auto;
    object-fit: contain;
}


/* Footer */
.footer {
    max-height: 50px;
}

.footer-text{
    font-size: 0.875em;
}

.footer-link {
    color: #0AA5DE;
    text-decoration: none;
    font-size: 0.875em;
    float: right;
}

.footer-link:hover {
    color: #0d5ba9;
}
