<!doctype html> 
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GenPix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Header with project name (as logo) and link to About page. -->
        <div class="container">
            <header class="d-flex flex-wrap justify-content-between align-items-center py-3 border-bottom">
                <a href="{{ url_for('home') }}"
                    class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="{{ url_for('static', path='logo.png')}}" class="logo" width="90" alt="logo">
                    <strong class="ms-2 logo-text">GenPix</strong>
                </a>
            </header>
        </div>

        <main>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 d-flex justify-content-center">
                        <form action="{{ url_for('generate') }}" method="post" onsubmit="showLoadingModal()">
                            <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                <h5 class="card-header">Unleash your imagination</h5>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Describe your idea:</h3>
                                        </div>
                                        <div class="mb-3 col-md-12">
                                            <textarea class="form-control" id="prompt" rows="4" name="prompt" required
                                                placeholder="Huge pitcher plant with sharp teeth."></textarea>
                                        </div>
                                        <div class="mb-3 col-md-12">
                                            <strong>Choose an image style:</strong>
                                            <select class="form-select mt-1" name="style" required>
                                                <option value="vivid" selected>Vivid (more fancy)</option>
                                                <option value="natural">Natural</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-12">
                                            <strong>Choose an image quality:</strong>
                                            <select class="form-select mt-1" name="quality" required>
                                                <option value="standard" selected>Standard </option>
                                                <option value="hd">HD</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-12">
                                            <strong>Choose an image resolution:</strong>
                                            <select class="form-select mt-1" name="size" required>
                                                <option value="1024x1024" selected>1024x1024 (square)</option>
                                                <option value="1024x1792">1024x1792 (vertical)</option>
                                                <option value="1792x1024">1792x1024 (horizontal)</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary bg-custom mb-3"><strong>Generate!</strong></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <div class="container-fluid" style="background-color: rgb(240, 240, 240);">
            <!-- Website footer -->
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-1">
                <p class="col-md-4 ms-3 mt-2 footer-text"><strong>&copy; 2024 GenPix</strong></p>
                <p class="col-md-4 mt-2 justify-content-end"><a href="https://www.linkedin.com/in/bindajakub/" target="_blank" class="footer-link me-3"><strong>Contact</strong></a></p>
            </footer>
        </div>
    </div>


    <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div>
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p>Generation in progress, please wait...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        function showLoadingModal() {
            var myModal = new bootstrap.Modal(document.getElementById('loadingModal'));
            myModal.show();
        }
    </script>
</body>

</html>